.column {
  float: left;
  width: 33.33%;
  padding: 7px;
}

.row::after {
  content: '';
  display: table;
}

h1,
h3,
h4,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Open sans', Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #333333;
}
/* .button {
  background: #091cc5;
  border: 15%;
  color: white;
  padding: 15px 32px;
  border-radius: 12px;
  text-decoration-style: white;
  display: inline-block;
  font-size: 14px;
  margin: 20px 0 10px;
  font-family: 'Open sans', Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #a9b6b1;
  font-size: 15px;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #4ac4e2;
  color: white;
} */
